In [6]:
import pandas as pd
import numpy as np

In [7]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [8]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [9]:
g7_pop.name = "G7 population"

In [10]:
g7_pop.dtype

dtype('float64')

In [11]:
g7_pop[1]

63.951

In [12]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [13]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population, dtype: float64

In [14]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [15]:
g7_pop['Japan']

127.061

In [16]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 population, dtype: float64

In [17]:
g7_pop.mean()

107.30257142857144

In [18]:
import pandas as pd

certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned[certificates_earned > 5])

Tom     8
Beau    6
dtype: int64

In [19]:
g8 = pd.Series([])

In [20]:
X = ['A','B','C']
print(X, type(X))

['A', 'B', 'C'] <class 'list'>

In [21]:
Y = pd.Series(X)
print(Y, type(Y))

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [23]:
X = pd.Series(['A', 'B', 'C'])

X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

In [24]:
X.values

array(['A', 'B', 'C'], dtype=object)

In [25]:
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
Name: My letters, dtype: object

In [29]:
X['first']

'A'

In [30]:
X['third']

'C'

In [31]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X[['second', 'third', 'forth']]

second    B
third     C
forth     D
dtype: object

In [32]:
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [33]:
X[['first', 'fifth']]

first    A
fifth    E
dtype: object

In [38]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [42]:
X = X[::-1]

In [43]:
X

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [44]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

In [45]:
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [47]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

C:\Users\David Adebisi\AppData\Local\Temp\ipykernel_21780\4063770036.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  X[4] = 10

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [48]:
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [49]:
X.iloc[1:-1] = 0

In [50]:
X

A     1
B     0
C     0
D     0
E    10
dtype: int64

In [51]:
X +5

A     6
B     5
C     5
D     5
E    15
dtype: int64

In [52]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [53]:
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [54]:
high = X > 5
X[high]

5     6
9    10
dtype: int64

In [55]:
avg = X > X.mean()
X[avg]

1     2
4     5
5     6
9    10
dtype: int64

In [57]:
X.mean()

0.9

In [58]:
mid = (X == 2) | (X == 10)
X[mid]

1     2
9    10
dtype: int64

In [59]:
X.all()

False

In [60]:
X.any()

True

In [61]:
X.sum()

9

In [62]:
X.max()

10